body {
  background: #F2F2F5;
  margin: 0;
  font-family: Tahoma, Arial, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #2693D0;
  align-self: center;
}